 /* MY CSS */
 .App {
   display: flex;
   flex-flow: row nowrap;
   justify-content: center
 }

 canvas {
  border: 2px solid #790179;
  background: black;
  box-shadow: 6px 5px 4px #999;
  display: block;
  margin: auto;
}

.blinking-game-over {
    animation:blink-gameOver 1.5s infinite;
}

@keyframes blink-gameOver {
  0%  { color: #fff; }
  50% { color: #fff; }
  100%{ color: transparent; }
}

.gameOver {
    background: #80808038;
    color: white;
    font-size: 30px;
    font-family: 'Press Start 2p', Arial, sans-serif;
    height: 66px;
    left: 1px;
    position: relative;
    min-width: 300px;
    top: 285px;
    text-align: center;
    visibility: hidden;
    width: 305px;

}

.gameOver p {
  margin-block-end: 10px;
  margin-block-start: 20px;
}

.hi-score {
  color: #3fc31f;
  font-weight: 700;
}

.initial-input {
  height: 36px;
  left: 286px;
  position: relative;
  top: 380px;
  text-align: center;
  min-width: 279px;
  visibility: hidden;
  width: 279px;
}

.initial-input input {
 background-color: #000000c4;
 border-style: dashed;
 border-width: 3px;
 border-top-color: #29702b;
 border-right-color: #1f9f25;
 border-bottom-color: #229927;
 border-left-color: #1e3c1f;
 color: red;
 font-size: 18px;
 font-family: 'Press Start 2p', Arial, sans-serif;
 height: 28px;
 outline: none;
 padding: 7px;
 text-align: center;
 min-width: 280px;
 width: 280px;
}

.initial-input input::placeholder {
 color: red;
}

.leaderboard {
  color: #e2ddb5;
  font-family: 'Press Start 2p', Arial, sans-serif;
  font-size: 1rem;
  position: absolute;
  text-align: center;
  top: 60px;
  right: 0px;
  visibility: hidden;
}

.leaderboard h3 {
  margin-bottom: 50px;
}

.menu {
  /* border: solid 3px; */
  flex: initial;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 2em;
  height: 600px;
  margin-left: 0.8rem;
  margin-top: 40px;
  order: 2;
  width:455px;
}

.soundbuttons {
  cursor: pointer;
  font-family: 'Press Start 2p', Arial, sans-serif;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 8px;
  padding: 5px 7px 2px;
}

.small-margin {
  margin: 10px 0px 10px;
}
.top-score {
  font-family: 'Press Start 2p', Arial, sans-serif;
  height: 20px;
  position: relative;
  right: 55px;
}

.tetris {
  flex: 0 1 auto;
  height: 620px;
  position: relative;
  margin-left: -308px;
  order: 1;
  width: 320px;
}

#click-to-play {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 1px;
}

#high-line {
  margin-bottom: 13px;
}

#instructions{
  color: darkblue;
  margin: 0;
  text-decoration: underline;
}

#initials {
  color: #3fc31f;
  font-weight: 500;
}

#list {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 30px;
  padding-left: 25px;
}

#lines {
  color: #9e00cc;
  font-weight: 700;
}

#next-piece {
  visibility: hidden;
}

#playbutton {
  /* width: 100px;
  height: 100px; */
  background-color: black;
  cursor: pointer;
  color: green;
  flex: initial;
  font-family: 'Press Start 2p', ZCOOL QingKe HuangYou, Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}

#top-score-list {
  display: table;
  list-style: none;
  font-size: 0.8em;
  padding: 0px;
  width: 600px;
}

#top-score-list li {
  display: inline;
}

#rank-titles {
  display: inline;
  list-style: none;
  margin: 1px;
  padding-inline-start: 2px;
  width: 300px;
}

#rank-titles li {
  display: inline;
  padding: 18px;
}

#rank {
  list-style: none;
  padding: 0;
}

#rank li {
  padding: 10px;
}

#score {
  color: red;
  font-weight: 700;
}
